{% extends 'main.html' %}

{% block title %} <title>Home Page</title>{% endblock %}

{% block content %}

<div  style="text-align: center;" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <main class="px-3">
    <h1> What is Bunebashi actually?</h1>
    <p class="lead">we are space for people. we are giving you opportunity to go out in the nature or create service that you enjoy. get more than experience thought this path</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">join us</a>
    </p>
  </main>

</div>

{% endblock %}
